<template>
  <div class="uk-form-controls">
    <select :class="`uk-select ${select.class}`"
            :name="select.name"
            :id="select.id"
            :multiple="select.multiple">
      <option v-for="(item, key) in select.items"
              :key="key"
              :value="item.value"
              :selected="item.selected">
        {{ item.label }}
      </option>
    </select>
  </div>
</template>

<script>
export default {
  name: "uk-select",
  props: {
    select: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>