<script>
import UIkit from 'uikit';
import Icons from 'uikit/dist/js/uikit-icons';

UIkit.use(Icons);

export default {
  name: 'App',
  methods: {
    clickMe: () => {
      console.log('clickMe fired');
    },
    toggleAlert() {
      this.showAlert = !this.showAlert;
      const element = document.getElementById('my-alert');
      // check if element is visible
      if (this.showAlert) {
        UIkit.modal.alert("<h3>Nope!</h3><p class='uk-text-danger'>A closed alert does no longer exist in the DOM</p> <p style='font-size: 30px'>😢</p>");
      } else {
        this.alertBtnLabel = 'Can I get the alert back?';
        this.alertBtnClass = 'primary';
        UIkit.alert(element).close();
      }

    },
  },
  data() {
    return {
      showAlert: true,
      alertBtnLabel: 'Close alert',
      alertBtnClass: 'danger',
      notificationButton: {
        label: 'Show notification',
        class: 'primary',
        type: 'button',
        size: 'large',
        name: 'my-button',
        id: 'button',
        disabled: false,
        icon: 'check',
        iconPosition: 'left',
        onClick: () => {
          UIkit.notification(
              'Hello world!',
              {
                status: 'danger',
                pos: 'bottom-center',
                timeout: 5000
              }
          )
        }
      },
      modalButton: {
        label: 'Opem modal',
        class: 'secondary',
        type: 'button',
        name: 'button',
        id: 'button',
        value: 'button',
        disabled: false,
      },
      slider: {
        autoplay: false,
        items: [
          {img: './assets/images/slider1.jpg'},
          {img: './assets/images/slider2.jpg'},
          {img: './assets/images/slider3.jpg'},
          {img: './assets/images/slider4.jpg'},
          {img: './assets/images/slider5.jpg'}
        ],
      },
      alert: {
        class: 'success',
        closable: true,
        largeCloseIcon: true,
        animation: true,
        duration: 400,
        html: "<h2 class=\"uk-modal-title\">" +
            "<span data-uk-icon=\"icon:heart; ratio: 2\"></span> Lorem ipsum dolor sit amet" +
            "</h2>\n" +
            "      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore\n" +
            "        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo\n" +
            "        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla\n" +
            "        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est\n" +
            "        laborum.</p>",
      },
      modal: {
        center: false,
        closeButton: true,
        header: {
          html: "<h1>The header</h1>"
        },
        body: {
          html: "<h2 class=\"uk-modal-title\">The body header</h2>\n" +
              "      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore\n" +
              "        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo\n" +
              "        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla\n" +
              "        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est\n" +
              "        laborum.</p>",
        },
        footer: {
          html: '<p class="uk-margin-small uk-text-warning"><span data-uk-icon="icon: check"></span> Footer with buttons and this additional text</p>',
          buttons: [
            {
              label: 'Close',
              class: 'default',
              type: 'button',
              name: 'button',
              id: 'button',
              value: 'button',
              disabled: false,
              onClick: () => {
                console.log('Modal closes now')
                UIkit.modal('#modal-example').hide();
              }
            },
            {
              label: 'Save',
              class: 'primary',
              type: 'button',
              name: 'button',
              id: 'button',
              value: 'button',
              disabled: false,
              onClick: () => {
                console.log('Saved')
              }
            }
          ]
        }
      },
      accordion: {
        multiple: true,
        collapsible: true,
        transition: 'ease-out',
        active: 1,
        duration: 2000,
        items: [
          {
            title: "Item 1",
            class: 'uk-background-primary uk-light uk-padding-small',
            content: "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>"
          },
          {
            title: "Item 2 - open",
            class: 'uk-background-muted uk-padding-small',
            content: "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit."
          },
          {
            title: "Item 3",
            class: 'uk-background-muted uk-padding-small',
            content: "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident."
          }
        ]
      },
      form: {
        input1: {
          type: 'text',
          label: 'Label input 1 disabled',
          placeholder: 'Input placeholder 1',
          id: 'input-1',
          class: 'success',
          value: 'This is the value',
          disabled: true,
          readOnly: false,
          required: false,
          icon: 'user',
          iconPosition: 'right',
          size: 'large',
          width: 'medium',
          blank: false,
        },
        input2: {
          type: 'text',
          label: 'Label input 2 readonly',
          placeholder: 'Input placeholder 2',
          id: 'input-2',
          class: 'danger',
          value: 'This is the value',
          disabled: false,
          readOnly: true,
          required: false,
          icon: 'search',
          iconPosition: '',
          size: 'medium',
          width: 'large',
          blank: false,
        },
        input3: {
          type: 'text',
          label: 'Label input 3',
          placeholder: 'Input placeholder 3',
          id: 'input-3',
          class: 'primary',
          value: '',
          disabled: false,
          readOnly: false,
          required: false,
          icon: 'check',
          iconPosition: '',
          size: 'medium',
          width: 'large',
          blank: false,
        },
        button: {
          label: 'Send form',
          class: 'success',
          disabled: false,
          icon: 'mail',
          iconPosition: 'right',
          onClick: () => {
            UIkit.notification(
                'Form submitted!',
                {
                  status: 'primary',
                  pos: 'top-center',
                  timeout: 5000
                }
            )
          }
        }
      },
      navigation: [{
        "title": "Root",
        "link": "\/",
        "target": "",
        "active": 1,
        "current": 1,
        "spacer": 0,
        "hasSubpages": 1,
        "children": [{
          "title": "About",
          "link": "\/about",
          "target": "",
          "active": 1,
          "current": 0,
          "spacer": 0,
          "hasSubpages": 1,
          "children": [{
            "title": "Subpage",
            "link": "\/about\/subpage",
            "target": "",
            "active": 0,
            "current": 0,
            "spacer": 0,
            "hasSubpages": 0
          }, {
            "title": "Subpage 2",
            "link": "\/about\/subpage-2",
            "target": "",
            "active": 1,
            "current": 1,
            "spacer": 0,
            "hasSubpages": 0
          }]
        }, {
          "title": "News",
          "link": "\/news",
          "target": "",
          "active": 0,
          "current": 0,
          "spacer": 0,
          "hasSubpages": 0
        }, {
          "title": "Contact",
          "link": "\/contact",
          "target": "",
          "active": 0,
          "current": 0,
          "spacer": 0,
          "hasSubpages": 0
        }]
      }],
      i18n: [{
        "languageId": 0,
        "locale": "en_US.UTF-8",
        "title": "English",
        "navigationTitle": "English",
        "twoLetterIsoCode": "en",
        "hreflang": "en-us",
        "direction": "ltr",
        "flag": "flags-us",
        "link": "\/",
        "active": 1,
        "current": 0,
        "available": 1
      }],
      logo: {
        src: 'https://exotec.de/fileadmin/logo.png',
        title: 'My title',
        alternative: 'My alternative',
        width: 200,
        height: 50,
        href: '/home',
        // position: 'right',
      },
    }
  },

}
</script>

<template>
  <div class="uk-container uk-padding">


    <h1 class="uk-margin-remove">vue-uikit</h1>

    <p>
      <a href="https://www.npmjs.com/package/@exotec/vue-uikit" target="_blank">
        https://www.npmjs.com/package/@exotec/vue-uikit
      </a>
      <br/>
      <a href="https://gitlab.com/exotec/vue-uikit" target="_blank">
        https://gitlab.com/exotec/vue-uikit
      </a>
    </p>

    <hr class="uk-divider-icon"/>

    <h2>Navbar</h2>
    <uk-navbar :items="navigation[0].children"
               :logo="logo"
               position="right"/>

    <!--        <h2>Form fields</h2>-->
    <!--        <form class="uk-form-stacked" @submit.prevent="submitForm()">-->
    <!--          <fieldset class="uk-fieldset">-->

    <!--            <legend class="uk-legend">Legend</legend>-->
    <!--            <div class="uk-margin">-->
    <!--              <uk-input :input="form.input1"/>-->
    <!--            </div>-->
    <!--            <div class="uk-margin">-->
    <!--              <uk-input :input="form.input2"/>-->
    <!--            </div>-->
    <!--            <div class="uk-margin">-->
    <!--              <uk-input :input="form.input3"/>-->
    <!--            </div>-->
    <!--            <div class="uk-margin">-->
    <!--              <uk-button @click="form.button.onClick()"-->
    <!--                         :label="form.button.label"-->
    <!--                         :class="form.button.class"-->
    <!--                         :disabled="form.button.disabled"-->
    <!--                         :icon="form.button.icon"-->
    <!--                         :iconPosition="form.button.iconPosition"/>-->
    <!--            </div>-->
    <!--          </fieldset>-->
    <!--        </form>-->

    <!--    <h2>Buttons</h2>-->
    <!--    <p>-->
    <!--      <uk-button :label="notificationButton.label"-->
    <!--                 :class="notificationButton.class"-->
    <!--                 :size="notificationButton.size"-->
    <!--                 :name="notificationButton.name"-->
    <!--                 :icon="notificationButton.icon"-->
    <!--                 :iconPosition="notificationButton.iconPosition"-->
    <!--                 :disabled="notificationButton.disabled"-->
    <!--                 @click="notificationButton.onClick()"/>-->
    <!--      &lt;!&ndash;      <uk-button :button="modalButton" data-uk-toggle="target: #modal-example"/>&ndash;&gt;-->
    <!--    </p>-->

    <!--    <hr class="uk-divider-icon"/>-->

    <!--    <h2>Accordion</h2>-->
    <!--    <p>-->
    <!--      <uk-accordion :items="accordion.items"-->
    <!--                    :multiple="accordion.multiple"-->
    <!--                    :collapsible="accordion.collapsible"-->
    <!--                    :transition="accordion.transition"-->
    <!--                    :duration="accordion.duration"-->
    <!--                    :active="accordion.active"/>-->
    <!--    </p>-->

    <!--    <hr class="uk-divider-icon"/>-->

    <!--    <h2>Alert</h2>-->
    <!--    <p>-->
    <!--      <uk-alert id="my-alert"-->
    <!--                :class="alert.class"-->
    <!--                :content="alert.html"-->
    <!--                :closable="alert.closable"-->
    <!--                :largeCloseIcon="alert.largeCloseIcon"-->
    <!--                :animation="alert.animation"-->
    <!--                :duration="alert.duration"/>-->

    <!--      <uk-button :label="`${alertBtnLabel}`" :class="alertBtnClass" @click="toggleAlert()"/>-->
    <!--    </p>-->

    <!--    <hr class="uk-divider-icon"/>-->

    <!--    <h2>Slider</h2>-->
    <!--    <p>-->
    <!--      <uk-slider :slider="slider"/>-->
    <!--    </p>-->

    <!--    <uk-modal id="modal-example" :modal="modal"/>-->

  </div>
</template>

<style lang="scss">
@import "../node_modules/uikit/src/scss/variables-theme";
@import "../node_modules/uikit/src/scss/mixins-theme";
@import "../node_modules/uikit/src/scss/uikit";

.uk-button-success {
  @extend .uk-button-primary;
  background-color: #00a65a;
  border-color: #008d4c;
}

</style>
