<script>
/**
 * @group Form
 * Easily create nice looking buttons, which come in different styles.
 * <br /><br />
 * `<uk-button :label="label"
 *                  :class="class"
 *                  :size="size"
 *                  :name="name"
 *                  :icon="icon"
 *                  :iconPosition="iconPosition"
 *                  :disabled="disabled"/>`
 */
export default {
  name: "uk-button",
  props: {
    // The label of the button
    label: {
      type: String,
      required: true
    },
    // The CSS class of the button
    class: {
      type: String,
      required: false
    },
    // The name of the button
    name: {
      type: String,
      required: false,
      default: "button"
    },
    // Disable the button
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    // The icon of the button
    icon: {
      type: String,
      required: false
    },
    // The icon position
    iconPosition: {
      type: String,
      required: false,
      default: "left"
    },
    // The size of the button
    size: {
      type: String,
      required: false,
    }
  }
}
</script>

<template>
  <button :class="`uk-button uk-button-${this.class} uk-button-${size}`"
          :name="name"
          :disabled="!!disabled"
          @click="onClick">

    <span v-if="icon && iconPosition === 'left'" class="uk-margin-small-right"
          :data-uk-icon="`icon: ${icon}`"></span>

    {{ label }}

    <span v-if="icon && iconPosition === 'right'" class="uk-margin-small-left"
          :data-uk-icon="`icon: ${icon}`"></span>
  </button>

</template>