<script>
/**
 * @group Alert
 * Display success, warning and error messages.
 * <br /><br />
 * `<uk-alert :class="class" :content="html" :animation="animation" :duration:="duration"/>`
 */
export default {
  name: 'uk-alert',
  props: {
    // The HTML content of the alert
    content: {
      type: String,
      required: true
    },
    closable: {
      type: Boolean,
      required: false,
      default: true
    },
    largeCloseIcon: {
      type: Boolean,
      required: false,
      default: false
    },
    // The class of the alert
    class: {
      type: String,
      required: false
    },
    // Fade out or hide directly
    animation: {
      type: Boolean,
      required: false,
      default: true
    },
    // Animation duration in milliseconds.
    duration: {
      type: Number,
      required: false,
      default: 150
    },
  }
}
</script>
<template>
  <div :data-uk-alert="`animation: ${animation}; duration: ${duration};`" :class="`uk-alert uk-alert-${this.class}`">
    <a v-if="closable" :class="`uk-alert-close ${largeCloseIcon ? 'uk-close-large' : ''}`" data-uk-close></a>
    <div v-html="content"/>
  </div>
</template>
