<script>
/**
 * @group Modal
 */
export default {
  name: 'uk-modal',
  props: {
    modal: {
      type: Object,
      required: true,
    }
  }
}


</script>

<template>
  <div data-uk-modal>
    <div :class="`uk-modal-dialog ${modal.center ? 'uk-margin-auto-vertical' : ''}`">
      <button v-if="modal.closeButton" class="uk-modal-close-default" type="button" data-uk-close></button>
      <uk-modal-header :content="modal.header" />
      <uk-modal-body :content="modal.body" />
      <uk-modal-footer :content="modal.footer" />
    </div>
  </div>
</template>
