<script>
/**
 * @group Modal
 */
export default {
  name: 'uk-modal-footer',
  props: {
    content: {
      type: Object,
      required: true
    }
  }
}
</script>

<template>
  <div class="uk-modal-footer">
    <div v-if="content.html" v-html="content.html" />
    <div v-if="content.buttons" class="uk-text-right">
      <uk-button v-for="button in content.buttons"
                 :button="button"
                 @click="button.onClick"/>
    </div>
  </div>
</template>
