<script>
/**
 * @group Modal
 */
export default {
  name: 'uk-modal-header',
  props: {
    content: {
      type: Object,
      required: false
    }
  }
}
</script>

<template>
  <div class="uk-modal-header" v-html="content.html" />
</template>
