<script>
import UkMenuList from "./MenuList.vue";
import UkNavbarLogo from "./Logo.vue";
export default {
  name: 'uk-navbar',
  components: {UkNavbarLogo, UkMenuList},
  props: {
    items: {
      type: Object,
      required: true
    },
    logo: {
      type: Object,
      required: false
    },
    position: {
      type: String,
      required: false,
      default: 'left'
    }
  },
}
</script>

<template>
  <nav class="uk-navbar-container" data-uk-navbar>

    <div v-if="position === 'left'" class="uk-navbar-left">
      <uk-menu-list :items="items" />
    </div>
    <div v-if="position === 'left'" class="uk-navbar-right">
      <uk-navbar-logo v-if="logo" :logo="logo" />
    </div>

    <div v-if="position === 'right'" class="uk-navbar-left">
      <uk-navbar-logo v-if="logo" :logo="logo" />
    </div>
    <div v-if="position === 'right'" class="uk-navbar-right">
      <uk-menu-list :items="items" />
    </div>

    <div v-if="position === 'center'" class="uk-navbar-center">
      <uk-navbar-logo v-if="logo && logo.position === 'left'" :logo="logo" />
      <uk-menu-list :items="items" />
      <uk-navbar-logo v-if="logo && logo.position === 'right'" :logo="logo" />
    </div>

  </nav>
</template>


