<template>
  <a :href="logo.href" class="uk-navbar-item uk-logo">
    <img :src="logo.src"
         :alt="logo.alternative"
         :title="logo.title"
         :width="logo.width"
         :height="logo.height">
  </a>
</template>

<script>
export default {
  name: "uk-navbar-logo",
 props: {
    logo: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
