<template>
  <ul class="uk-navbar-nav">
    <li v-for="item in items" :key="item.id" :class="item.active ? 'uk-active' : ''">
      <a :href="item.url">{{item.title}}</a>
      <div v-if="item.children" class="uk-navbar-dropdown">
        <ul class="uk-nav uk-navbar-dropdown-nav">
          <li v-for="item in item.children" :key="item.id" :class="item.active ? 'uk-active' : ''">
            <a :href="item.url">{{item.title}}</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>

</template>

<script>
export default {
  name: "uk-menu-list",
  props: {
    items: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
