<script>
import Field from "./Text.vue";

/**
 * @group Form
 * Easily create nice looking buttons, which come in different styles.
 * <br /><br />
 * `<uk-button :label="label"
 *                  :class="class"
 *                  :size="size"
 *                  :name="name"
 *                  :icon="icon"
 *                  :iconPosition="iconPosition"
 *                  :disabled="disabled"/>`
 */

export default {
  name: 'uk-input',
  components: {
    Field
  },
  props: {
    input: {
      type: Object,
      required: true,
    }
  }
}
</script>

<template>
  <label class="uk-form-label" :for="input.id">
    {{ input.label }}
  </label>

  <component :is="`uk-input-${input.type}`" :input="input" />

</template>