<template>
  <div v-if="input.icon" class="uk-inline">
    <span :class="`uk-form-icon ${input.iconPosition === 'right' ? 'uk-form-icon-flip' : ''}`" :data-uk-icon="`icon: ${input.icon}`"></span>
    <input :type="input.type"
           :class="input.class"
           :id="input.id"
           :placeholder="input.placeholder"
           :value="input.value"
           :disabled="!!input.disabled"
           :readonly="!!input.readOnly"
           :required="!!input.required"
    />
  </div>

  <input v-else :type="input.type"
         :class="input.class"
          :id="input.id"
          :placeholder="input.placeholder"
          :value="input.value"
         :disabled="!!input.disabled"
         :readonly="!!input.readOnly"
         :required="!!input.required"
  />

</template>

<script>
export default {
  name: "uk-input-text",
  props: {
    input: {
      type: Object,
      required: false,
    },
  },
  created() {
    this.input.class = `${this.colorClass} ${this.sizeClass} ${this.widthClass} ${this.blankClass}`;
  },
  computed: {
    colorClass() {
      return this.input.class ? `uk-input uk-form-${this.input.class}` : 'uk-input';
    },
    sizeClass() {
      return this.input.size ? `uk-form-${this.input.size}` : '';
    },
    widthClass() {
      return this.input.width ? `uk-width-${this.input.width}` : '';
    },
    blankClass() {
      return this.input.blank ? `uk-form-blank` : '';
    },
  },
}
</script>

<style scoped>

</style>