<script>
/**
 * @group Accordion
 * Create a list of items that can be shown individually by clicking an item's header.
 * <br /><br />
 * `<uk-accordion :items="items"
 *                     :multiple="multiple"
 *                     :collapsible="collapsible"
 *                     :transition="transition"
 *                     :duration="duration"/>`
 */
export default {
  name: "uk-accordion",
  props: {
    // Array of item objects<br />
    // [@see &lt;uk-accordion-item&gt;](/components/uk-accordion-item).
    items: {
      type: Array,
      required: true
    },
    // Allow multiple open items
    multiple: {
      type: Boolean,
      required: false,
      default: false
    },
    // Allow all items to be closed
    collapsible: {
      type: Boolean,
      required: false,
      default: true
    },
    // The transition to use when revealing items. Use keyword for [@see easing functions](https://developer.mozilla.org/en-US/docs/Web/CSS/easing-function#values)
    transition: {
      type: String,
      required: false,
      default: 'ease'
    },
    // Animation duration in milliseconds
    duration: {
      type: Number,
      required: false,
      default: 200
    },
    // Index of the element to open initially
    active: {
      type: Number,
      required: false,
    }
  }
}
</script>


<template>
  <ul :data-uk-accordion="`multiple: ${multiple};  collapsible: ${collapsible}; transition: ${transition}; duration: ${duration}; ${active !== false ? `active: ${active};` : ''}`">
    <component v-for="(item, key) in items"
               is="uk-accordion-item"
               :title="item.title"
               :class="item.class"
               :content="item.content"
               :open="item.open"
               :key="key"/>
  </ul>
</template>
