<script>
/**
 * @group Accordion
 * The item of accordion
 * <br /><br />
 * `   <uk-accordion-item :title="item.title" :class="item.class" :content="item.content" :open="item.open"/>`
 */
export default {
  name: "uk-accordion-item",
  props: {
    // The title of the item
    title: {
      type: String,
      required: true
    },
    // The CSS class of the item
    class: {
      type: String,
      required: false
    },
    // The HTML content of the item
    content: {
      type: String,
      required: true
    },
    // Whether the item is open or not
    open: {
      type: Boolean,
      required: false
    }
  }
}
</script>

<template>
  <li :class="`${open ? 'uk-open' : ''} ${this.class}`">
    <a class="uk-accordion-title" href="#">{{ title }}</a>
    <div class="uk-accordion-content" v-html="content"/>
  </li>
</template>