<template>
    <textarea :class="`uk-textarea ${textarea.class}`"
              :name="textarea.name"
              :id="textarea.id"
              :rows="textarea.rows"
              :placeholder="textarea.placeholder"
              :value="textarea.value"
              :disabled="textarea.disabled"
              :readonly="textarea.readonly"
              :required="textarea.required"
    >
    </textarea>
</template>

<script>
export default {
  name: "uk-textarea",
  props: {
    textarea: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>