<script>
export default {
  name: 'uk-slider',
  props: {
    slider: {
      type: Object,
      required: true
    }
  }
}
</script>

<template>
  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" data-uk-slider>
    <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">
      <li v-for="(item, key) in slider.items" :key="key">
        <img :src="item.img" width="400" height="600" alt="">
        <div class="uk-position-center uk-panel"><h1>Key: {{ key }}</h1></div>
      </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

  </div>
</template>